/*original image, resized*/
body{
    background-image: url(./assets/images/greyfloral.png);    
    padding-top: 3px;
    padding-bottom: 3px;
    /*width: 960px;*/
    margin-left:auto;
    margin-right: auto;
}
.menu{
    float: right;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    border-left: solid;
   
}
.header{
    background-color: whitesmoke;
    height: 2.1em;
    padding-top: 18px;
    padding-right: 25px;
    margin-right: 125px;
    float: right;
}
myName{
    float:left;
    width: 250px;
    color: lightcyan;
    font-size: 25px;
    background-color: rgb(9, 128, 128);
    height: 47px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 125px;
    text-align: center;
}
.headText{
    vertical-align: bottom;
}

.about{
    width: 150px;
}
.mainpara{
    background-color: whitesmoke;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(227, 227, 227, 0.884);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
img{
    height: 175px;
    width: auto;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
 
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
}
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  margin-top: 0px;
  margin-bottom: 35px;
  height: 53px; 
  background-color: whitesmoke;
  border-bottom: 1px solid rgb(9, 128, 128);
}
h2{
    border-bottom: 1px solid #3b37379d;
    padding-bottom: 20px;
}

/*removed bullet points below*/
nav a {
    display: inline-block;
    padding-left: 10px;
    margin-left:  15px;
    margin-top: 5px;
    /* line-height:  18px; */
    color: #999;
    text-decoration:  none;
    border-left: 1px solid #3b37379d;
}
nav a:first-child{
        border-left: none;
}
nav a:visited { 
    text-decoration: none; color:#000; 
    }
nav a:hover { 
    text-decoration: none; color:#000; background-color: rgba(9, 128, 128,.5); 
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
/*Form*/
form{
    margin: 0 auto;
    width: 800px;
}
/*creates padding between input fields*/
form div + div{
    margin-top: 1em;
}
/*ensures all albels have same size/alignment */
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
/*all text fields have same font settings*/
input, textarea{
    font: 1em sans-serif;
    width: 600px;
    box-sizing:border-box;
}
/*aligned text fields with labels*/
textarea{
    vertical-align: top;
    height: 200px;
}
/*aligned links horizontally*/
.button {
    /*position button to the same position of text fields*/
    padding-left: 87.5px; /* same size as the label elements */
  }

  button{
      margin-left: .5em;
  }

  .copyright{
    background-color: rgb(102,102,102);
    border-top: 4px solid rgb(9, 128, 128);
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
    color: whitesmoke;
    font-family: arial;
    font-size: 10px;
    margin-top: 50px;
  }
  footer{
      margin: 0 auto;
  }
/* holds all cards */
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 600px;
}
/* spacing between cards */
.card{
    /* border: 2px solid black; */
    padding-top: 8px;
padding-bottom: 8px;
}
/* banner across card */
.card-title{
    background-color: rgba(9, 128, 128, .75);
    color: whitesmoke;
    height: 35px;
    position: relative;
    margin-top: 110px;
    line-height: 30px;
}
/* text within card banner */
.card-text{
text-align: center;
}
/* images of cards 1-5 */
.header1{
    background-color: rgb(9, 128, 128);
    background-image: url(./assets/images/travel.jpg);
    height: 150px;
    width: 200px;
    position:relative;
    margin: 15px;
}
.header2{
    background-image: url(./assets/images/creative.jpg);
    height: 150px;
    width: 200px;
    position:relative;
    margin: 15px;
}
.header3{
    background-image: url(./assets/images/data.jpg);
    height: 150px;
    width: 200px;
    position:relative;
    margin: 15px;
}
.header4{
    background-image: url(./assets/images/recipe.jpeg);
    height: 150px;
    width: 200px;
    position:relative;
    margin: 15px;
}
.header5{
    background-image: url(./assets/images/teach.jpg);
    height: 150px;
    width: 200px;
    position:relative;
    margin: 15px;
}
/* rounds edge of border */
.card:hover{
    border-radius: 15px;
    border: .5px solid rgb(9, 128, 128);
}
h4{
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
}